body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 0px;
}

.mood-container {
    padding-top : 50px;
}

.mood {
    font-size : 80px;
    cursor : pointer;
    text-align : center;
}

.mood-container table tr td {
    text-align : center;
    vertical-align: bottom;
}

.mood-container span {
    display : inline-block;
}

.mood > img {
    width : 70%;
    height : 70%;
}

.survey-list {
    margin : 20px 0;
}

.abcRioButtonWhite {
    background-color: #fff;
    color: #dc4e41;
}

.abcRioButton:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.abcRioButton {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

.abcRioButtonIcon {
    float: left;
}

.abcRioButtonSvg {
    display: block;
}

.abcRioButtonWhite path {
    fill: #dc4e41;
}

.abcRioButtonContents {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .21px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;
}