<div ng-show="show">

  <style>

    .result.very-bad {
    border-top : {{survey.veryBad / survey.totalHits * 100 + 'px'}} solid #101010;
    }
    .result.bad {
    border-top : {{survey.bad / survey.totalHits * 100 + 'px'}} solid #101010;
    }
    .result.fine {
    border-top : {{survey.fine / survey.totalHits * 100 + 'px'}} solid #101010;
    }
    .result.good {
    border-top : {{survey.good / survey.totalHits * 100 + 'px'}} solid #101010;
    }
    .result.very-good {
    border-top : {{survey.veryGood / survey.totalHits * 100 + 'px'}} solid #101010;
    }

  </style>

  <div>
    <button class="btn btn-primary" ng-click="showResults = true">Show results</button>
  </div>

  <div class="mood-container">

    <table class="table table-striped">
      <tr ng-if="showResults">
        <td><span class="result very-bad">{{survey.veryBad / survey.totalHits | percentage:2}}</span></td>
        <td><span  class="result bad">{{survey.bad / survey.totalHits | percentage:2}}</span></td>
        <td><span  class="result fine">{{survey.fine / survey.totalHits | percentage:2}}</span></td>
        <td><span  class="result good">{{survey.good / survey.totalHits | percentage:2}}</span></td>
        <td><span  class="result very-good">{{survey.veryGood / survey.totalHits | percentage:2}}</span></td>
      </tr>
      <tr>
        <td><span class="mood very-bad" ng-click="addMood('veryBad');" ng-class="{'animated wobble' : animate.veryBad}"><img src="images/very-bad.png"></span></td>
        <td><span class="mood bad" ng-click="addMood('bad');" ng-class="{'animated bounce' : animate.bad}"><img src="images/bad.png"></span></td>
        <td><span class="mood fine" ng-click="addMood('fine');" ng-class="{'animated jello' : animate.fine}"><img src="images/fine.png"></span></td>
        <td><span class="mood good" ng-click="addMood('good');" ng-class="{'animated swing' : animate.good}"><img src="images/good.png"></span></td>
        <td><span class="mood very-good" ng-click="addMood('veryGood');" ng-class="{'animated shake' : animate.veryGood}"><img src="images/very-good.png"></span></td>
      </tr>
    </table>

  </div>

</div>
